# Machine Learning with Spark

---

### Data preparation and first insight

Import needed libraries

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

pd.options.display.max_columns = 50

import warnings
warnings.filterwarnings("ignore")

In [2]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import lit, col
from pyspark.sql.types import DoubleType

Creation of a spark session and load the csv file into a dataframe

In [3]:
spk_sess = SparkSession \
    .builder \
    .appName("_Project_Spark_App") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

df = spk_sess.read.csv("./file_with_datetime", header=True, sep=",");

df = df.select('FR10', 'FR21', 'FR22', 'time', 'year', 'month', 'week', 'day', 'hour')
df.show(20)

+--------------------+--------------------+-------------------+-------------------+----+-----+----+---+----+
|                FR10|                FR21|               FR22|               time|year|month|week|day|hour|
+--------------------+--------------------+-------------------+-------------------+----+-----+----+---+----+
|                 0.0|                 0.0|                0.0|1986-01-01 00:00:00|1986|    1|   1|  1|   0|
|                 0.0|                 0.0|                0.0|1986-01-01 01:00:00|1986|    1|   1|  1|   1|
|                 0.0|                 0.0|                0.0|1986-01-01 02:00:00|1986|    1|   1|  1|   2|
|                 0.0|                 0.0|                0.0|1986-01-01 03:00:00|1986|    1|   1|  1|   3|
|                 0.0|                 0.0|                0.0|1986-01-01 04:00:00|1986|    1|   1|  1|   4|
|                 0.0|                 0.0|                0.0|1986-01-01 05:00:00|1986|    1|   1|  1|   5|
|                 0.0|                 0.0|                0.0|1986-01-01 06:00:00|1986|    1|   1|  1|   6|
|                 0.0|                 0.0|                0.0|1986-01-01 07:00:00|1986|    1|   1|  1|   7|
|                 0.0|0.027860000000000003|                0.0|1986-01-01 08:00:00|1986|    1|   1|  1|   8|
|0.049760000000000006|             0.04929|            0.07653|1986-01-01 09:00:00|1986|    1|   1|  1|   9|
|0.042710000000000005|             0.03638|            0.06807|1986-01-01 10:00:00|1986|    1|   1|  1|  10|
|             0.04689|             0.04442|            0.06869|1986-01-01 11:00:00|1986|    1|   1|  1|  11|
|0.055810000000000005|             0.04403|0.07042000000000001|1986-01-01 12:00:00|1986|    1|   1|  1|  12|
| 0.06312999999999999|             0.04451|            0.07643|1986-01-01 13:00:00|1986|    1|   1|  1|  13|
|             0.03852|              0.0726|            0.06253|1986-01-01 14:00:00|1986|    1|   1|  1|  14|
|0.017130000000000003|             0.06058|            0.01947|1986-01-01 15:00:00|1986|    1|   1|  1|  15|
|                 0.0|                 0.0|                0.0|1986-01-01 16:00:00|1986|    1|   1|  1|  16|
|                 0.0|                 0.0|                0.0|1986-01-01 17:00:00|1986|    1|   1|  1|  17|
|                 0.0|                 0.0|                0.0|1986-01-01 18:00:00|1986|    1|   1|  1|  18|
|                 0.0|                 0.0|                0.0|1986-01-01 19:00:00|1986|    1|   1|  1|  19|
+--------------------+--------------------+-------------------+-------------------+----+-----+----+---+----+
only showing top 20 rows

Shape of the dataframe

In [4]:
df.count(), len(df.columns)

(262968, 9)

All columns are strings, change stations' efficiencies to double float

In [5]:
for c in df.columns:
    if c == 'time':
        df = df.withColumn(c, df[c].cast("string"))
    else:
        df = df.withColumn(c, df[c].cast(DoubleType()))
        
df.dtypes

[('FR10', 'double'),
 ('FR21', 'double'),
 ('FR22', 'double'),
 ('time', 'string'),
 ('year', 'double'),
 ('month', 'double'),
 ('week', 'double'),
 ('day', 'double'),
 ('hour', 'double')]

Show basic stats

In [6]:
df.select('FR10', 'FR21', 'FR22').describe().show()

+-------+-------------------+-------------------+-------------------+
|summary|               FR10|               FR21|               FR22|
+-------+-------------------+-------------------+-------------------+
|  count|             262968|             262968|             262968|
|   mean|0.13080652623132852|0.12925481366554123|  0.125993219212984|
| stddev|0.20840717745319268| 0.2052150311485998|0.20127526900909193|
|    min|                0.0|                0.0|                0.0|
|    max|            0.91125|            0.91662|            0.91613|
+-------+-------------------+-------------------+-------------------+

There isn't any Nan values

In [7]:
from pyspark.sql.functions import isnan, when, count, col

df.select([count(when(isnan(c), c)).alias(c) for c in df.columns]).show()

# drop na values if needed / not the case here
df = df.na.drop()

+----+----+----+----+----+-----+----+---+----+
|FR10|FR21|FR22|time|year|month|week|day|hour|
+----+----+----+----+----+-----+----+---+----+
|   0|   0|   0|   0|   0|    0|   0|  0|   0|
+----+----+----+----+----+-----+----+---+----+

[Handling missing values](https://fr.coursera.org/lecture/big-data-machine-learning/handling-missing-values-in-spark-Goh1z)

Correlations

In [15]:
temp_df = df.select('FR10', 'FR21', 'FR22')

# There is a correlation function in the ml subpackage pyspark.ml.stat. 
# However, it requires you to provide a column of type Vector. So you need to convert your columns 
# into a vector column first using the VectorAssembler and then apply the correlation:


from pyspark.ml.stat import Correlation
from pyspark.ml.feature import VectorAssembler

# convert to vector column first
vector_col = "corr_features"
assembler = VectorAssembler(inputCols=temp_df.columns, outputCol=vector_col)
temp_df_vector = assembler.transform(temp_df).select(vector_col)

# get correlation matrix
matrix = Correlation.corr(temp_df_vector, vector_col)

# the result as a numpy array
pd.DataFrame(matrix.collect()[0]["pearson({})".format(vector_col)].values)

          0
0  1.000000
1  0.947750
2  0.964299
3  0.947750
4  1.000000
5  0.939765
6  0.964299
7  0.939765
8  1.000000

In [16]:
df.show()

+--------------------+--------------------+-------------------+-------------------+------+-----+----+---+----+
|                FR10|                FR21|               FR22|               time|  year|month|week|day|hour|
+--------------------+--------------------+-------------------+-------------------+------+-----+----+---+----+
|                 0.0|                 0.0|                0.0|1986-01-01 00:00:00|1986.0|  1.0| 1.0|1.0| 0.0|
|                 0.0|                 0.0|                0.0|1986-01-01 01:00:00|1986.0|  1.0| 1.0|1.0| 1.0|
|                 0.0|                 0.0|                0.0|1986-01-01 02:00:00|1986.0|  1.0| 1.0|1.0| 2.0|
|                 0.0|                 0.0|                0.0|1986-01-01 03:00:00|1986.0|  1.0| 1.0|1.0| 3.0|
|                 0.0|                 0.0|                0.0|1986-01-01 04:00:00|1986.0|  1.0| 1.0|1.0| 4.0|
|                 0.0|                 0.0|                0.0|1986-01-01 05:00:00|1986.0|  1.0| 1.0|1.0| 5.0|
|                 0.0|                 0.0|                0.0|1986-01-01 06:00:00|1986.0|  1.0| 1.0|1.0| 6.0|
|                 0.0|                 0.0|                0.0|1986-01-01 07:00:00|1986.0|  1.0| 1.0|1.0| 7.0|
|                 0.0|0.027860000000000003|                0.0|1986-01-01 08:00:00|1986.0|  1.0| 1.0|1.0| 8.0|
|0.049760000000000006|             0.04929|            0.07653|1986-01-01 09:00:00|1986.0|  1.0| 1.0|1.0| 9.0|
|0.042710000000000005|             0.03638|            0.06807|1986-01-01 10:00:00|1986.0|  1.0| 1.0|1.0|10.0|
|             0.04689|             0.04442|            0.06869|1986-01-01 11:00:00|1986.0|  1.0| 1.0|1.0|11.0|
|0.055810000000000005|             0.04403|0.07042000000000001|1986-01-01 12:00:00|1986.0|  1.0| 1.0|1.0|12.0|
| 0.06312999999999999|             0.04451|            0.07643|1986-01-01 13:00:00|1986.0|  1.0| 1.0|1.0|13.0|
|             0.03852|              0.0726|            0.06253|1986-01-01 14:00:00|1986.0|  1.0| 1.0|1.0|14.0|
|0.017130000000000003|             0.06058|            0.01947|1986-01-01 15:00:00|1986.0|  1.0| 1.0|1.0|15.0|
|                 0.0|                 0.0|                0.0|1986-01-01 16:00:00|1986.0|  1.0| 1.0|1.0|16.0|
|                 0.0|                 0.0|                0.0|1986-01-01 17:00:00|1986.0|  1.0| 1.0|1.0|17.0|
|                 0.0|                 0.0|                0.0|1986-01-01 18:00:00|1986.0|  1.0| 1.0|1.0|18.0|
|                 0.0|                 0.0|                0.0|1986-01-01 19:00:00|1986.0|  1.0| 1.0|1.0|19.0|
+--------------------+--------------------+-------------------+-------------------+------+-----+----+---+----+
only showing top 20 rows

---

### Training ML models

Decision Tree Regression

In [ ]:
from pyspark.mllib.tree import DecisionTree, DecisionTreeModel
from pyspark.mllib.util import MLUtils


# Load and parse the data file into an RDD of LabeledPoint.
data = MLUtils.loadLibSVMFile(sc, 'data/mllib/sample_libsvm_data.txt')
# Split the data into training and test sets (30% held out for testing)
(trainingData, testData) = data.randomSplit([0.7, 0.3])

# Train a DecisionTree model.
#  Empty categoricalFeaturesInfo indicates all features are continuous.
model = DecisionTree.trainRegressor(trainingData, categoricalFeaturesInfo={},
                                    impurity='variance', maxDepth=5, maxBins=32)

# Evaluate model on test instances and compute test error
predictions = model.predict(testData.map(lambda x: x.features))
labelsAndPredictions = testData.map(lambda lp: lp.label).zip(predictions)
testMSE = labelsAndPredictions.map(lambda lp: (lp[0] - lp[1]) * (lp[0] - lp[1])).sum() /\
    float(testData.count())
print('Test Mean Squared Error = ' + str(testMSE))
print('Learned regression tree model:')
print(model.toDebugString())

# Save and load model
model.save(sc, "target/tmp/myDecisionTreeRegressionModel")
sameModel = DecisionTreeModel.load(sc, "target/tmp/myDecisionTreeRegressionModel")