In [1]:
from pyspark.sql import SparkSession

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.options.display.max_columns = 100

import warnings
warnings.filterwarnings("ignore")

In [2]:
spark = SparkSession \
    .builder \
    .appName("_Practical_Spark_Ex") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
!pwd

/home/jovyan/work

In [4]:
!ls

kaggle_wind_analysis.ipynb	 solar_generation_by_station.csv
solar_generation_by_country.csv

In [7]:
!head solar_generation_by_country.csv

AT,BE,BG,CH,CY,CZ,DE,DK,EE,ES,FI,FR,EL,HR,HU,IE,IT,LT,LU,LV,NL,NO,PL,PT,RO,SI,SK,SE,UK
0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00544544157850945,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.0,0.0,0.0524502739386129,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0582243368779087,0.0141948060502403,0.030527637101854,0.0,0.0101275229772929,0.0,0.0,0.0,0.0,0.0,0.015086062053959999,0.0,0.0593594434731935,0.0,0.0247188078074189,0.0,0.0
0.117482517482517,0.0,0.13514119928954302,0.0689499865149865,0,0.0692151894582339,0.0192612252265842,0.0,0.030179321572225002,0.0439209623544281,0.0,0.0420031786189225,0.0946669074417797,0.0629568369905699,0.0705369411416471,0.0,0.0753781805489794,0.07888051052619201,0.0,0.043221759900893,0.0,0.0,0.0652167228518484,0.0,0.0989798884775355,0.0487534737408071,0.18038589191510201,0.0,0.0

Wind Hourly Power Capacity

The datasets contain hourly power generation data for NUTS 2 regions in Europe. The objective is to develop an algorithm for the prediction of the power generation using factors like economic status, renewable energy interest and the non-renewable power generation.

In [31]:
df_country = spark.read.csv("solar_generation_by_country.csv", header=True, sep=",");
df_station = spark.read.csv("solar_generation_by_station.csv", header=True, sep=",");

In [32]:
df_country.printSchema()

root
 |-- AT: string (nullable = true)
 |-- BE: string (nullable = true)
 |-- BG: string (nullable = true)
 |-- CH: string (nullable = true)
 |-- CY: string (nullable = true)
 |-- CZ: string (nullable = true)
 |-- DE: string (nullable = true)
 |-- DK: string (nullable = true)
 |-- EE: string (nullable = true)
 |-- ES: string (nullable = true)
 |-- FI: string (nullable = true)
 |-- FR: string (nullable = true)
 |-- EL: string (nullable = true)
 |-- HR: string (nullable = true)
 |-- HU: string (nullable = true)
 |-- IE: string (nullable = true)
 |-- IT: string (nullable = true)
 |-- LT: string (nullable = true)
 |-- LU: string (nullable = true)
 |-- LV: string (nullable = true)
 |-- NL: string (nullable = true)
 |-- NO: string (nullable = true)
 |-- PL: string (nullable = true)
 |-- PT: string (nullable = true)
 |-- RO: string (nullable = true)
 |-- SI: string (nullable = true)
 |-- SK: string (nullable = true)
 |-- SE: string (nullable = true)
 |-- UK: string (nullable = true)

In [33]:
df_station.dtypes

[('time_step', 'string'),
 ('AT11', 'string'),
 ('AT21', 'string'),
 ('AT12', 'string'),
 ('AT31', 'string'),
 ('AT32', 'string'),
 ('AT22', 'string'),
 ('AT33', 'string'),
 ('AT34', 'string'),
 ('AT13', 'string'),
 ('BE21', 'string'),
 ('BE31', 'string'),
 ('BE32', 'string'),
 ('BE33', 'string'),
 ('BE22', 'string'),
 ('BE34', 'string'),
 ('BE35', 'string'),
 ('BE23', 'string'),
 ('BE10', 'string'),
 ('BE24', 'string'),
 ('BE25', 'string'),
 ('BG32', 'string'),
 ('BG33', 'string'),
 ('BG31', 'string'),
 ('BG34', 'string'),
 ('BG41', 'string'),
 ('BG42', 'string'),
 ('CZ06', 'string'),
 ('CZ03', 'string'),
 ('CZ08', 'string'),
 ('CZ01', 'string'),
 ('CZ05', 'string'),
 ('CZ04', 'string'),
 ('CZ02', 'string'),
 ('CZ07', 'string'),
 ('DEA5', 'string'),
 ('DE30', 'string'),
 ('DE40', 'string'),
 ('DE91', 'string'),
 ('DE50', 'string'),
 ('DED1', 'string'),
 ('DE71', 'string'),
 ('DEE1', 'string'),
 ('DEA4', 'string'),
 ('DED2', 'string'),
 ('DEA1', 'string'),
 ('DE13', 'string'),
 ('DE72', 'string'),
 ('DEE2', 'string'),
 ('DE60', 'string'),
 ('DE92', 'string'),
 ('DE12', 'string'),
 ('DE73', 'string'),
 ('DEB1', 'string'),
 ('DEA2', 'string'),
 ('DED3', 'string'),
 ('DE93', 'string'),
 ('DEE3', 'string'),
 ('DE80', 'string'),
 ('DE25', 'string'),
 ('DEA3', 'string'),
 ('DE22', 'string'),
 ('DE21', 'string'),
 ('DE24', 'string'),
 ('DE23', 'string'),
 ('DEB3', 'string'),
 ('DEF0', 'string'),
 ('DE27', 'string'),
 ('DE11', 'string'),
 ('DEG0', 'string'),
 ('DEB2', 'string'),
 ('DE14', 'string'),
 ('DE26', 'string'),
 ('DE94', 'string'),
 ('ES61', 'string'),
 ('ES24', 'string'),
 ('ES12', 'string'),
 ('ES13', 'string'),
 ('ES41', 'string'),
 ('ES42', 'string'),
 ('ES51', 'string'),
 ('ES30', 'string'),
 ('ES52', 'string'),
 ('ES43', 'string'),
 ('ES11', 'string'),
 ('ES53', 'string'),
 ('ES23', 'string'),
 ('ES22', 'string'),
 ('ES21', 'string'),
 ('ES62', 'string'),
 ('FI20', 'string'),
 ('FI1C', 'string'),
 ('FI1D', 'string'),
 ('FI1B', 'string'),
 ('FI19', 'string'),
 ('FR42', 'string'),
 ('FR61', 'string'),
 ('FR72', 'string'),
 ('FR25', 'string'),
 ('FR26', 'string'),
 ('FR52', 'string'),
 ('FR24', 'string'),
 ('FR21', 'string'),
 ('FR83', 'string'),
 ('FR43', 'string'),
 ('FR23', 'string'),
 ('FR10', 'string'),
 ('FR81', 'string'),
 ('FR63', 'string'),
 ('FR41', 'string'),
 ('FR62', 'string'),
 ('FR30', 'string'),
 ('FR51', 'string'),
 ('FR22', 'string'),
 ('FR53', 'string'),
 ('FR82', 'string'),
 ('FR71', 'string'),
 ('EL51', 'string'),
 ('EL30', 'string'),
 ('EL63', 'string'),
 ('EL53', 'string'),
 ('EL62', 'string'),
 ('EL54', 'string'),
 ('EL52', 'string'),
 ('EL43', 'string'),
 ('EL42', 'string'),
 ('EL65', 'string'),
 ('EL64', 'string'),
 ('EL61', 'string'),
 ('EL41', 'string'),
 ('HU33', 'string'),
 ('HU23', 'string'),
 ('HU32', 'string'),
 ('HU31', 'string'),
 ('HU21', 'string'),
 ('HU10', 'string'),
 ('HU22', 'string'),
 ('CH02', 'string'),
 ('CH03', 'string'),
 ('CH05', 'string'),
 ('CH01', 'string'),
 ('CH07', 'string'),
 ('CH06', 'string'),
 ('CH04', 'string'),
 ('IE01', 'string'),
 ('IE02', 'string'),
 ('ITF1', 'string'),
 ('ITF5', 'string'),
 ('ITF6', 'string'),
 ('ITF3', 'string'),
 ('ITH5', 'string'),
 ('ITH4', 'string'),
 ('ITI4', 'string'),
 ('ITC3', 'string'),
 ('ITC4', 'string'),
 ('ITI3', 'string'),
 ('ITF2', 'string'),
 ('ITC1', 'string'),
 ('ITF4', 'string'),
 ('ITG2', 'string'),
 ('ITG1', 'string'),
 ('ITI1', 'string'),
 ('ITH2', 'string'),
 ('ITI2', 'string'),
 ('ITC2', 'string'),
 ('ITH3', 'string'),
 ('NL13', 'string'),
 ('NL23', 'string'),
 ('NL12', 'string'),
 ('NL22', 'string'),
 ('NL11', 'string'),
 ('NL42', 'string'),
 ('NL41', 'string'),
 ('NL32', 'string'),
 ('NL21', 'string'),
 ('NL31', 'string'),
 ('NL34', 'string'),
 ('NL33', 'string'),
 ('NO04', 'string'),
 ('NO02', 'string'),
 ('NO01', 'string'),
 ('NO03', 'string'),
 ('NO05', 'string'),
 ('PL51', 'string'),
 ('PL61', 'string'),
 ('PL31', 'string'),
 ('PL43', 'string'),
 ('PL11', 'string'),
 ('PL21', 'string'),
 ('PL12', 'string'),
 ('PL52', 'string'),
 ('PL32', 'string'),
 ('PL34', 'string'),
 ('PL63', 'string'),
 ('PL22', 'string'),
 ('PL33', 'string'),
 ('PL62', 'string'),
 ('PL41', 'string'),
 ('PL42', 'string'),
 ('PT18', 'string'),
 ('PT15', 'string'),
 ('PT16', 'string'),
 ('PT17', 'string'),
 ('PT11', 'string'),
 ('RO32', 'string'),
 ('RO12', 'string'),
 ('RO21', 'string'),
 ('RO11', 'string'),
 ('RO31', 'string'),
 ('RO22', 'string'),
 ('RO41', 'string'),
 ('RO42', 'string'),
 ('SE32', 'string'),
 ('SE31', 'string'),
 ('SE12', 'string'),
 ('SE33', 'string'),
 ('SE21', 'string'),
 ('SE11 ', 'string'),
 ('SE22', 'string'),
 ('SE23', 'string'),
 ('SK01', 'string'),
 ('SK03', 'string'),
 ('SK04', 'string'),
 ('SK02', 'string'),
 ('UKH2', 'string'),
 ('UKJ1', 'string'),
 ('UKD6', 'string'),
 ('UKK3', 'string'),
 ('UKD1', 'string'),
 ('UKF1', 'string'),
 ('UKK4', 'string'),
 ('UKK2', 'string'),
 ('UKH1', 'string'),
 ('UKE1', 'string'),
 ('UKL2', 'string'),
 ('UKM2', 'string'),
 ('UKH3', 'string'),
 ('UKK1', 'string'),
 ('UKD3', 'string'),
 ('UKJ3', 'string'),
 ('UKG1', 'string'),
 ('UKM6', 'string'),
 ('UKI3UKI4', 'string'),
 ('UKJ4', 'string'),
 ('UKD4', 'string'),
 ('UKF2', 'string'),
 ('UKF3', 'string'),
 ('UKD7', 'string'),
 ('UKM5', 'string'),
 ('UKE2', 'string'),
 ('UKN0', 'string'),
 ('UKC2', 'string'),
 ('UKI5UKI6', 'string'),
 ('UKG2', 'string'),
 ('UKM3', 'string'),
 ('UKE3', 'string'),
 ('UKJ2', 'string'),
 ('UKC1', 'string'),
 ('UKG3', 'string'),
 ('UKL1', 'string'),
 ('UKE4', 'string')]

In [34]:
df_station.count()

262968

In [35]:
df_country.count()

262968

In [36]:
country_cols = df_country.schema.names

In [37]:
df_country.select(df_country.AT.cast("float").alias('AT'))

DataFrame[AT: float]

In [41]:
df_country.select('AT').cast('float')

AttributeError: 'DataFrame' object has no attribute 'cast'

In [40]:
df_country.dtypes

[('AT', 'string'),
 ('BE', 'string'),
 ('BG', 'string'),
 ('CH', 'string'),
 ('CY', 'string'),
 ('CZ', 'string'),
 ('DE', 'string'),
 ('DK', 'string'),
 ('EE', 'string'),
 ('ES', 'string'),
 ('FI', 'string'),
 ('FR', 'string'),
 ('EL', 'string'),
 ('HR', 'string'),
 ('HU', 'string'),
 ('IE', 'string'),
 ('IT', 'string'),
 ('LT', 'string'),
 ('LU', 'string'),
 ('LV', 'string'),
 ('NL', 'string'),
 ('NO', 'string'),
 ('PL', 'string'),
 ('PT', 'string'),
 ('RO', 'string'),
 ('SI', 'string'),
 ('SK', 'string'),
 ('SE', 'string'),
 ('UK', 'string')]

In [13]:
def pretty_summary(df):
    """ Neat summary statistics of a Spark dataframe
    Args: pyspark.sql.dataframe.DataFrame (df): input dataframe
    Returns:pandas.core.frame.DataFrame: a pandas dataframe with the summary statistics of df
    """
    import pandas as pd
    temp = df.describe().toPandas()
    temp.iloc[1:3,1:] = temp.iloc[1:3,1:].convert_objects(convert_numeric=True)
    pd.options.display.float_format = '{:,.2f}'.format
    return temp

In [14]:
pretty_summary(df_station)

,summary,time_step,AT11,AT21,AT12,AT31,AT32,AT22,AT33,AT34,AT13,BE21,BE31,BE32,BE33,BE22,BE34,BE35,BE23,BE10,BE24,BE25,BG32,BG33,BG31,BG34,BG41,BG42,CZ06,CZ03,CZ08,CZ01,CZ05,CZ04,CZ02,CZ07,DEA5,DE30,DE40,DE91,DE50,DED1,DE71,DEE1,DEA4,DED2,DEA1,DE13,DE72,DEE2,...,RO42,SE32,SE31,SE12,SE33,SE21,SE11,SE22,SE23,SK01,SK03,SK04,SK02,UKH2,UKJ1,UKD6,UKK3,UKD1,UKF1,UKK4,UKK2,UKH1,UKE1,UKL2,UKM2,UKH3,UKK1,UKD3,UKJ3,UKG1,UKM6,UKI3UKI4,UKJ4,UKD4,UKF2,UKF3,UKD7,UKM5,UKE2,UKN0,UKC2,UKI5UKI6,UKG2,UKM3,UKE3,UKJ2,UKC1,UKG3,UKL1,UKE4
0,count,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,...,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968,262968
1,mean,"131,484.50",0.14,0.14,0.13,0.12,0.12,0.13,0.12,0.12,0.13,0.12,0.12,0.12,0.11,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.15,0.15,0.15,0.15,0.15,0.16,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.11,0.12,0.12,0.11,0.11,0.11,0.12,0.12,0.11,0.12,0.12,0.13,0.12,0.12,...,0.14,0.09,0.10,0.11,0.00,0.11,0.11,0.11,0.10,0.13,0.13,0.13,0.14,0.12,0.12,0.11,0.12,0.10,0.11,0.12,0.12,0.12,0.11,0.11,0.10,0.12,0.12,0.10,0.12,0.11,0.09,0.12,0.12,0.10,0.11,0.11,0.11,0.10,0.10,0.10,0.10,0.12,0.11,0.10,0.11,0.12,0.10,0.11,0.11,0.10
2,stddev,"75,912.47",0.22,0.21,0.20,0.20,0.19,0.20,0.19,0.19,0.22,0.20,0.20,0.20,0.19,0.20,0.20,0.20,0.20,0.20,0.20,0.20,0.23,0.23,0.23,0.23,0.23,0.23,0.20,0.20,0.20,0.21,0.20,0.19,0.20,0.20,0.19,0.20,0.19,0.19,0.19,0.19,0.20,0.20,0.19,0.20,0.19,0.20,0.20,0.20,...,0.22,0.17,0.17,0.18,0.00,0.18,0.20,0.19,0.18,0.22,0.20,0.21,0.22,0.19,0.19,0.18,0.20,0.17,0.18,0.19,0.19,0.19,0.18,0.18,0.16,0.20,0.19,0.17,0.20,0.18,0.15,0.20,0.20,0.17,0.19,0.19,0.19,0.16,0.17,0.16,0.17,0.19,0.18,0.17,0.18,0.20,0.17,0.18,0.18,0.17
3,min,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,max,99999,8e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,...,9e-05,9e-05,9e-05,9e-05,0,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,8e-05,9e-05,9e-05,9e-05,9e-05,9e-05,8e-05,8e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05,9e-05